*{
    padding: 0;
    margin: 0;
}
html,body,.box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box{
    display: flex;
    flex-direction: column;
}
body{
    font-size: .32rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
%qq{
    display: flex;
    justify-content: center;
    align-content: center;
}
header{
    display: flex;
    height: 1rem;
    background: #06c1b0;
    border-bottom: 1px solid #ccc;
    a{
        text-align: center;
        @extend %qq;
    }
    a:nth-child(1){
        flex: 1;
        text-align: center;
        line-height: 1rem;
        color: #fff;
    }
    a:nth-child(2){
        flex: 4;
        line-height: 1rem;
        height: .8rem;
        background: #06a495;
        margin-top: .1rem;
        span{
            color: #fff;
            margin-top: -.1rem;
        }
        input{
            border: none;
            background: #06a495;
            outline: none;
            padding-left: .1rem;
        }
    }
    a:nth-child(3){
        flex: 1;
        color: #fff;
        margin-top: .1rem;
        dd{
            font-size: .3rem;
        }
    }
}
section{
    flex: 1;
    overflow: hidden;
    background: #f2f1ef;
    .pics{
        width: 100%;
        height: 1.2rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .swiper-container,.swiper-wraperm,.swiper-slide{
        width: 100%;
        background: #fff;
        height: auto;
        .swiper-slide{
            flex-wrap: wrap;
            display: flex;
            dl{
                width: 20%;
                text-align: center;
                margin-top: .2rem;
                dt{
                    width: .8rem;
                    margin-left: .3rem;
                    height: .8rem;
                    border-radius: 50%;
                    background: #eba05f;
                    text-align: center;
                    line-height: .8rem;
                    span{
                        font-size: .5rem;
                        color: #fff;
                    }
                }
                dd{
                    font-size: .26rem;
                    margin-left: -0.1rem;
                    margin-bottom: .3rem;
                    margin-top: .1rem;
                }
            }
            dl:nth-child(2){
                dt{
                    background: #ff6164;
                }
            }
            dl:nth-child(3){
                dt{
                    background: #888efc;
                }
            }
            dl:nth-child(4){
                dt{
                    background: #ffc834;
                }
            }
            dl:nth-child(5){
                dt{
                    background: #f9aa41;
                }
            }
            dl:nth-child(6){
                dt{
                    background: #fdd422;
                }
            }
            dl:nth-child(7){
                dt{
                    background: #3ac8ff;
                }
            }
            dl:nth-child(8){
                dt{
                    background: #ff82c6;
                }
            }
            dl:nth-child(9){
                dt{
                    background: #fc9419;
                }
            }
            dl:nth-child(10){
                dt{
                    background: #47a2fb;
                }
            }
        }
        // .swiper-pagination{
        //     position: absolute;
        //     top: 1rem;
        // }
    }
    .main{
        margin-top: .2rem;
        background: #fff;
        display: flex;
        text-align: center;
        dl{
            text-align: center;
            flex: 1;
            dd{
                p{
                    font-size: .26rem;
                    margin-top: .2rem;
                }
                p:nth-child(1){
                    color: #ae523b;
                }
            }
            dt{
                margin-top: .2rem;
            }
        }
    }
    .nav{
        margin-top: .2rem;
        background: #fff;
        span{
            line-height: .8rem;
            padding-left: .2rem;
            display: flex;
            border-bottom: 1px solid #ccc;
        }
        dl{
            display: flex;
            border-bottom: 1px solid #ccc;
            dt{
                text-align: center;
                margin-top: .4rem;
            }
            dd{
                margin-left: .2rem;
                p{
                    font-size: .3rem;
                }
                p:nth-child(1){
                    margin-top: .3rem;
                }
                p:nth-child(2){
                  margin-top: .1rem;
                }
                p:nth-child(3){
                    margin-top: .2rem;
                    b{
                        color: #459e9a;
                        font-size: .35rem;
                    }
                }
            }
        }
    }
}
footer{
    display: flex;
}