* {
  padding: 0;
  margin: 0;
}

html, body, .box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
}

body {
  font-size: .32rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header a {
  display: flex;
  justify-content: center;
  align-content: center;
}

header {
  display: flex;
  height: 1rem;
  background: #06c1b0;
  border-bottom: 1px solid #ccc;
}

header a {
  text-align: center;
}

header a:nth-child(1) {
  flex: 1;
  text-align: center;
  line-height: 1rem;
  color: #fff;
}

header a:nth-child(2) {
  flex: 4;
  line-height: 1rem;
  height: .8rem;
  background: #06a495;
  margin-top: .1rem;
}

header a:nth-child(2) span {
  color: #fff;
  margin-top: -.1rem;
}

header a:nth-child(2) input {
  border: none;
  background: #06a495;
  outline: none;
  padding-left: .1rem;
}

header a:nth-child(3) {
  flex: 1;
  color: #fff;
  margin-top: .1rem;
}

header a:nth-child(3) dd {
  font-size: .3rem;
}

section {
  flex: 1;
  overflow: hidden;
  background: #f2f1ef;
}

section .pics {
  width: 100%;
  height: 1.2rem;
}

section .pics img {
  width: 100%;
  height: 100%;
}

section .swiper-container, section .swiper-wraperm, section .swiper-slide {
  width: 100%;
  background: #fff;
  height: auto;
}

section .swiper-container .swiper-slide, section .swiper-wraperm .swiper-slide, section .swiper-slide .swiper-slide {
  flex-wrap: wrap;
  display: flex;
}

section .swiper-container .swiper-slide dl, section .swiper-wraperm .swiper-slide dl, section .swiper-slide .swiper-slide dl {
  width: 20%;
  text-align: center;
  margin-top: .2rem;
}

section .swiper-container .swiper-slide dl dt, section .swiper-wraperm .swiper-slide dl dt, section .swiper-slide .swiper-slide dl dt {
  width: .8rem;
  margin-left: .3rem;
  height: .8rem;
  border-radius: 50%;
  background: #eba05f;
  text-align: center;
  line-height: .8rem;
}

section .swiper-container .swiper-slide dl dt span, section .swiper-wraperm .swiper-slide dl dt span, section .swiper-slide .swiper-slide dl dt span {
  font-size: .5rem;
  color: #fff;
}

section .swiper-container .swiper-slide dl dd, section .swiper-wraperm .swiper-slide dl dd, section .swiper-slide .swiper-slide dl dd {
  font-size: .26rem;
  margin-left: -0.1rem;
  margin-bottom: .3rem;
  margin-top: .1rem;
}

section .swiper-container .swiper-slide dl:nth-child(2) dt, section .swiper-wraperm .swiper-slide dl:nth-child(2) dt, section .swiper-slide .swiper-slide dl:nth-child(2) dt {
  background: #ff6164;
}

section .swiper-container .swiper-slide dl:nth-child(3) dt, section .swiper-wraperm .swiper-slide dl:nth-child(3) dt, section .swiper-slide .swiper-slide dl:nth-child(3) dt {
  background: #888efc;
}

section .swiper-container .swiper-slide dl:nth-child(4) dt, section .swiper-wraperm .swiper-slide dl:nth-child(4) dt, section .swiper-slide .swiper-slide dl:nth-child(4) dt {
  background: #ffc834;
}

section .swiper-container .swiper-slide dl:nth-child(5) dt, section .swiper-wraperm .swiper-slide dl:nth-child(5) dt, section .swiper-slide .swiper-slide dl:nth-child(5) dt {
  background: #f9aa41;
}

section .swiper-container .swiper-slide dl:nth-child(6) dt, section .swiper-wraperm .swiper-slide dl:nth-child(6) dt, section .swiper-slide .swiper-slide dl:nth-child(6) dt {
  background: #fdd422;
}

section .swiper-container .swiper-slide dl:nth-child(7) dt, section .swiper-wraperm .swiper-slide dl:nth-child(7) dt, section .swiper-slide .swiper-slide dl:nth-child(7) dt {
  background: #3ac8ff;
}

section .swiper-container .swiper-slide dl:nth-child(8) dt, section .swiper-wraperm .swiper-slide dl:nth-child(8) dt, section .swiper-slide .swiper-slide dl:nth-child(8) dt {
  background: #ff82c6;
}

section .swiper-container .swiper-slide dl:nth-child(9) dt, section .swiper-wraperm .swiper-slide dl:nth-child(9) dt, section .swiper-slide .swiper-slide dl:nth-child(9) dt {
  background: #fc9419;
}

section .swiper-container .swiper-slide dl:nth-child(10) dt, section .swiper-wraperm .swiper-slide dl:nth-child(10) dt, section .swiper-slide .swiper-slide dl:nth-child(10) dt {
  background: #47a2fb;
}

section .main {
  margin-top: .2rem;
  background: #fff;
  display: flex;
  text-align: center;
}

section .main dl {
  text-align: center;
  flex: 1;
}

section .main dl dd p {
  font-size: .26rem;
  margin-top: .2rem;
}

section .main dl dd p:nth-child(1) {
  color: #ae523b;
}

section .main dl dt {
  margin-top: .2rem;
}

section .nav {
  margin-top: .2rem;
  background: #fff;
}

section .nav span {
  line-height: .8rem;
  padding-left: .2rem;
  display: flex;
  border-bottom: 1px solid #ccc;
}

section .nav dl {
  display: flex;
  border-bottom: 1px solid #ccc;
}

section .nav dl dt {
  text-align: center;
  margin-top: .4rem;
}

section .nav dl dd {
  margin-left: .2rem;
}

section .nav dl dd p {
  font-size: .3rem;
}

section .nav dl dd p:nth-child(1) {
  margin-top: .3rem;
}

section .nav dl dd p:nth-child(2) {
  margin-top: .1rem;
}

section .nav dl dd p:nth-child(3) {
  margin-top: .2rem;
}

section .nav dl dd p:nth-child(3) b {
  color: #459e9a;
  font-size: .35rem;
}

footer {
  display: flex;
}
